body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:477px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:477px;
}
#u3 {
  position:absolute;
  left:2px;
  top:230px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:806px;
  top:8px;
  width:65px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:632px;
  top:13px;
  width:159px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:439px;
}
#u10 {
  position:absolute;
  left:0px;
  top:39px;
  width:960px;
  height:438px;
}
#u11 {
  position:absolute;
  left:2px;
  top:211px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:361px;
  top:110px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:285px;
}
#u15 {
  position:absolute;
  left:2px;
  top:134px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16 {
  position:absolute;
  left:14px;
  top:19px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:14px;
  top:63px;
  width:43px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:66px;
  top:56px;
  width:138px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:14px;
  top:109px;
  width:41px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:66px;
  top:102px;
  width:138px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:14px;
  top:154px;
  width:43px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:66px;
  top:147px;
  width:72px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:31px;
}
#u30 {
  position:absolute;
  left:149px;
  top:147px;
  width:55px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:48px;
  top:201px;
  width:145px;
  height:32px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u34 {
  position:absolute;
  left:14px;
  top:245px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u36 {
  position:absolute;
  left:174px;
  top:245px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:984px;
  top:37px;
  width:293px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:984px;
  top:110px;
  width:293px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:984px;
  top:161px;
  width:251px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:984px;
  top:68px;
  width:265px;
  height:32px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:977px;
  top:8px;
  width:335px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  position:absolute;
  left:540px;
  top:11px;
  width:79px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:881px;
  top:8px;
  width:65px;
  height:25px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
